.container {
  max-width: 480px !important; /* Maximum width for mobile layout */
  margin: 0 auto; /* Center the content */
  padding: 16px; /* Padding around the content */
  background-color: #282c34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for a card-like effect */
  border-radius: 8px; /* Optional: Rounded corners */
}


.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.navbar {
  max-width: 480px; /* Maximum width for mobile layout */
  margin: 0 auto; /* Center the content */
  padding: 16px; /* Padding around the content */
}

body {
  background-color: #282c34;
  color: white;
}